﻿@page "/login"
@model E_Coin.WebAdmin.Pages.Login.LoginPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ecoin-Login-Edited</title>
    <!-- firebase css + js -->
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    @* Login import css *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/login_css.css" />
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-google-plus-square" onclick="openPopUpGoogle()"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input value="Login" class="btn float-right login_btn" onclick="loginWithEmail()">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js"></script>


    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyC4mbEYr1n2hvd1zMO6pZmWB7kxlTXbuiE",
            authDomain: "ecoin-6ed2a.firebaseapp.com",
            databaseURL: "https://ecoin-6ed2a.firebaseio.com",
            projectId: "ecoin-6ed2a",
            storageBucket: "ecoin-6ed2a.appspot.com",
            messagingSenderId: "262386139442",
            appId: "1:262386139442:web:d5b7a01bac2d21ac51572b",
            measurementId: "G-BGSV8XF01W"
        };
        firebase.initializeApp(firebaseConfig);
        //var ui = new firebaseui.auth.AuthUI(firebase.auth());
        //var uiConfig = {
        //    callbacks: {
        //        signInSuccessWithAuthResult: function (authResult, redirectUrl) {
        //            console.log(authResult);
        //            console.log(authResult.credential.idToken);
        //            window.preventDefault;
        //            return true;
        //        },
        //        uiShown: function () {
        //            document.getElementById('loader').style.display = 'none';
        //        }
        //    },
        //    signInFlow: 'popup',
        //    signInSuccessUrl: '/success_page',
        //    signInOptions: [
        //        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        //        firebase.auth.EmailAuthProvider.PROVIDER_ID,
        //    ],
        //    tosUrl: '<your-tos-url>',
        //    privacyPolicyUrl: '<your-privacy-policy-url>'
        //};
        //ui.start('#firebaseui-auth-container', uiConfig);

        function loginWithEmail() {
            var email = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            firebase.auth().signInWithEmailAndPassword(email, password).then(data => {

                console.log(data.user.xa);

            }).catch(function (error) {
                alert("fail");
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // ...
            });
        }

        function openPopUpGoogle() {
            //google pop up
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
            firebase.auth().signInWithPopup(provider).then(function (result) {
                var token = result.credential.idToken;
                var username = result.user.email;
                $.ajax({

                    url : "@E_Coin.Data.ViewModels.ApiDetail.API_URL/jwt?token="+token,
                    type : "GET",
                    contentType: 'application/json',
                    success: (data) => {
                        console.log(data);
                        localStorage.setItem("access_token", data);
                        localStorage.setItem("user_name", username)
                        window.location.href = "/main";
                    },

                    error: (err) => {
                        console.log(err);
                    }

                })
            }).catch(function (error) {
                var errorCode = error.code;
                var errorMessage = error.message;
                var email = error.email;
                var credential = error.credential;
            });
        }
    </script>
</body>
</html>
